<h1>Issues</h1>
<table>
  <thead>
    <tr class="table-headings">
      <th>Title</th><th>Issue</th>     
    </tr>
  </thead>
  <tbody id="issue-list">
    <% if (viewData?.issues?.length) { %>
      <% for (const issue of viewData.issues) { %>
        <tr id="issue-single" data-id="<%= issue.id %>">
          <td id="issue-title">
            <%= issue.title %>
          </td>
          <td id="issue-description">
            <%= issue.description %>
          </td>
          <td class="action-options">
            <a class="action" href="./issues/<%= issue.id %>/comment">Comment issue</a>
            <a class="action" href="./issues/<%= issue.id %>/close">Close issue</a>
            <a class="action" href="./issues/<%= issue.id %>/update">Update</a>
            <a class="action" href="./issues/<%= issue.id %>/delete">Delete</a>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr>
        <td>
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%# Socket.IO: Template for the client. The same as above, sort of. %>
<template id="issue-template">
  <tr>
    <td>
      <input class="form-check-input" type="checkbox" disabled />
    </td>
    <td class="text-nowrap">
      <a>Update</a>
      <a>Delete</a>
    </td>
  </tr>
</template>
