<h1>Issues</h1>
<table>
  <thead>
    <tr class="table-headings">
      <th>Title</th><th>Issue</th>     
    </tr>
  </thead>
  <tbody id="issue-list">
    <% if (viewData?.length) { %>
      <% for (const issue of viewData) { %>
        <tr class="issue-single" data-id="<%= issue.issueId %>">
          <td id="issue-avatar">
            <img id="issue-avatar" src="<%= issue.avatar%>" alt="Avatar of the user who created the issue">           
          </td>
          <td id="issue-title">
            <%= issue.title %>
          </td>
          <td id="issue-description">
            <%= issue.description %>
          </td>
          <td class="action-options">
            
            <a id="reopen" class="action <%=issue.state==='opened' ? 'hidden' : '' %>" href="./issues/<%= issue.iid %>/reopen">Reopen issue</a>         
            <a id="close" class="action <%=issue.state==='closed' ? 'hidden' : '' %>" href="./issues/<%= issue.iid %>/close">Close issue</a>
          </td>
        </tr>
      <% } %>
    <% } else { %>
      <tr id="no-issues">
        <td>
          There are no issues to display
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<%# Socket.IO: Template for the client. The same as above, sort of. %>
<template id="issue-template">
  <tr class="issue-single">
    <td><img id="issue-avatar" src="" alt="Avatar of the user who created the issue"></td>
    <td id="issue-title"> </td>
    <td id="issue-description"></td>    
    <td class="action-options">
      <a id="reopen" class="action" >Reopen issue</a>
      <a id="close" class="action" >Close issue</a>
    </td>
  </tr>
</template>
